
oswald-font {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3 {
  font-family: "Oswald", serif;
}
p {
  font-family: "Lora", serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 20px 50px;
}

nav ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li:not(:last-child) {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
}

.white-water-rafting-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20rem;
}

.white-water-rafting-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

/*uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 1000*/

lora-font {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
